header {
  .head {
    &__top {
      padding: 10px 0;
      border-bottom: 1px solid rgba(212, 228, 239, 0.603);

      .container {
        @include dFlex;
      }
      &_left {
        opacity: 1;
        .nav__links {
          display: flex;
          gap: 45px;
          li {
            list-style: none;
          }
          a {
            color: rgb(0, 37, 74);
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            &:hover {
              color: rgb(39, 172, 226);
            }
          }
        }
      }
      &_right {
        font-size: 13px;
        font-weight: 500;
        line-height: 15px;
        color: rgb(0, 37, 74);
      }
    }
    &__bottom {
      position: relative;
      padding: 17px 0;
      z-index: 999;
      .container {
        @include dFlex;
        position: relative;
        .menu {
          display: none;
          padding: 5px;
          border: 0;
          background-color: transparent;
        }
      }
      .container.phone {
        @include dFlex;
        .phone__numbers {
          position: absolute;
          display: flex;
          top: 50px;
          right: 20px;
          background: #fff;
          padding: 30px 60px;
        }
      }

      .dropdowns {
        .close__menu {
          display: none;
        }
        .btns {
          display: flex;
          align-items: center;
          gap: 2rem;
          button {
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            gap: 6px;
            cursor: pointer;
            padding: 10px 12px;
            border-bottom: 4px solid rgba(39, 173, 226, 0.041); /* Button */
            h2 {
              font-size: 18px;
              font-weight: 700;
              line-height: 21px;
              color: rgb(51, 51, 51);
            }
            img {
              width: 19px;
              height: 13px;
            }
          }
        }
      }
      .phone__numbers {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        img {
          margin-top: 5px;
        }
        h3 {
          color: rgb(0, 37, 74);
          font-size: 17px;
          font-weight: 400;
          line-height: 20px;
        }
        a {
          color: rgb(57, 153, 229);
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
        }
        .local {
          position: relative;
          img {
            position: absolute;
            width: 18px;
            height: 18px;
            &:nth-child(1) {
              left: -10px;
              z-index: 9;
            }
            &:nth-child(2) {
              left: 5px;
              z-index: 1;
            }
          }
        }
      }
      .phonebtn {
        display: none;
        width: 42px;
        height: 42px;
        border: 0;
        border-radius: 50%;
        background-color: rgb(39, 172, 226);
      }

      .dropdowns.active1 {
        .tables1 {
          display: block;
        }
        #mobile {
          border-bottom: 4px solid rgb(39, 172, 226); /* Button */
        }
      }
      .dropdowns.active2 {
        .tables2 {
          display: block;
        }
        #tablet {
          border-bottom: 4px solid rgb(39, 172, 226); /* Button */
        }
      }

      .tables1,
      .tables2 {
        position: absolute;
        left: 0;
        top: 70px;
        display: none;
        width: 100%;
        padding: 30px 0;
        background-color: #fff;
        .container {
          position: relative;
          button {
            position: absolute;
            top: -30px;
            right: 10px;
            cursor: pointer;
            // padding: 10px;
            border: none;
            background-color: transparent;
            font-size: 30px;
          }
        }
        .row {
          @include dFlex;
          justify-content: flex-start;
          flex-wrap: wrap;
          .mobile__content {
            width: 240px;
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            img {
              max-width: 40px;
              width: 100%;
              height: 30px;
            }
          }
        }
      }
    }
  }
  .head.menu {
    .head__top {
      position: absolute;
      width: 100%;
      //   height: 100px;
      z-index: 999;
      top: 170px;
      display: flex;
      background-color: #fff;
      align-items: center;
      .nav__links {
        flex-direction: column;
        gap: 23px;
      }
    }
    .head__bottom {
      .dropdowns {
        background-color: #fff;
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        left: 0%;
        position: absolute;
        // top: 50px;
        padding-top: 130px;
        .btns {
          align-items: flex-start;
          padding: 10px;
          padding-left: 5px;
        }
        .tables1,
        .tables2 {
          top: 100px;
        }
        .close__menu {
          display: flex;
          position: absolute;
          gap: 1rem;
          cursor: pointer;
          text-align: left;
          z-index: 999;
          color: #fff;
          padding: 18px;
          padding-left: 50px;
          //   left: 30px;
          top: 75px;
          font-size: 20px;
          background-color: rgb(39, 172, 226);
          border: 0;
          width: 100%;
        }
        .btns {
          flex-direction: column;
          gap: 1rem;
        }
      }
    }
  }
  .hero {
    background-image: url("../img/header/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    // background-position-x: 0%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 150px;
      background-color: rgb(39, 172, 226);
      left: 0;
      top: 20%;
    }
    &__content {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 60px 0;
      padding-left: 37px;
      h2 {
        color: rgb(61, 61, 61);
        font-size: 36px;
        font-weight: 900;
        line-height: 42px;
      }
      p {
        color: rgb(61, 61, 61);
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
      }
      a {
        padding: 12px 32px;
        padding-left: 38px;
        width: 226px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        border-radius: 4px;

        background: rgb(39, 172, 226);
      }
    }
  }
}

@media (max-width: 1000px) {
  header {
    .head__top {
      .head__top_right {
        display: none;
      }
    }
    .head__bottom {
      .phone__numbers {
        display: none;
      }
      .phonebtn {
        display: block;
      }
    }
  }
}
@media (max-width: 750px) {
  header {
    .head__top {
      display: none;
    }
    .head__bottom {
      .container {
        .menu {
          display: block;
        }
      }
      .dropdowns {
        display: none;
      }
    }
    .head.menu {
      .head__bottom {
        .dropdowns {
          .tables1,
          .tables2 {
            top: 250px;
          }
        }
      }
    }
    .hero {
      background-size: 100% 200px;
      background-position: center;
      &::after {
        // top: 30%;
        height: 100px;
      }
      .hero__content {
        padding: 30px 10px;

        h2 {
          font-size: 18px;
          font-weight: 900;
          line-height: 21px;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .hero {
    position: relative;
    .hero__content {
      a {
        position: absolute;
        bottom: -50px;
        left: 25%;
      }
    }
  }
}
