@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Black.woff2") format("woff2"), url("../font/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.woff2") format("woff2"), url("../font/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Light.woff2") format("woff2"), url("../font/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.woff2") format("woff2"), url("../font/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Thin.woff2") format("woff2"), url("../font/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.card__container {
  padding-top: 49px;
}
.card__container .card__title {
  color: var(--Text, #3d3d3d);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7px;
}
.card__container .card__subtitle {
  color: var(--Text, #3d3d3d);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}
.card__container .card__holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}
.card__container .card__holder .each__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 190px;
}
.card__container .card__holder .each__card .img__bg {
  width: 148px;
  height: 148px;
  background: #f3f8fb;
  border-radius: 50%;
  padding: 33px 31px 31px 32px;
  margin-bottom: 11px;
}
.card__container .card__holder .each__card .card__text {
  color: #3d3d3d;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card__container .buttons {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 56px;
}
.card__container .buttons .btn1,
.card__container .buttons .btn2 {
  width: 214px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid #27ace2;
}
.card__container .buttons .btn1 {
  border-radius: 4px;
  background: var(--Button, #27ace2);
  cursor: pointer;
}
.card__container .buttons .btn2 {
  background: transparent;
  cursor: pointer;
}
.card__container .buttons .left__btn {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.card__container .buttons .right__btn {
  color: var(--Button, #27ace2);
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.sale {
  background: #f5f5f5;
}

.stock__holder {
  padding-top: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stock__holder .stock__link {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d4e4ef;
}
.stock__holder .stock__link .border {
  color: var(--Text, #3d3d3d);
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 15px;
  border-bottom: 5px solid #27ace2;
  text-align: center;
  width: 141px;
}
.stock__holder .stock__link .blur__text {
  color: var(--Text, #3d3d3d);
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.8;
}
.stock__holder .stock__wrapper {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}
.stock__holder .stock__wrapper div {
  width: 350px;
}
.stock__holder .stock__wrapper img {
  border-radius: 5px;
  margin-bottom: 10px;
}
.stock__holder .stock__wrapper p {
  color: #3d3d3d;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.stock__holder .last__btn {
  width: 177px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Button, #27ace2);
  border: none;
  margin-bottom: 54px;
  cursor: pointer;
}
.stock__holder .last__btn a {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.step {
  background-color: rgb(245, 245, 245);
}
.step__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.step__title {
  color: rgb(61, 61, 61);
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  padding: 50px 0;
}
.step__arrow {
  width: 148px;
  height: 143px;
  border-radius: 100px;
  margin-left: 55px;
  background-color: rgb(255, 255, 255);
}
.step__num {
  position: absolute;
  color: rgb(212, 228, 239);
  font-size: 160px;
  font-weight: 700;
  margin-top: -20px;
}
.step__text {
  color: rgb(61, 61, 61);
  font-size: 16px;
  font-weight: 400;
  padding: 35px 0;
  text-align: center;
}
.step ul {
  display: flex;
  gap: 17px;
  list-style: none;
}
.step ul li {
  width: 6px;
  height: 7px;
  margin-top: 20px;
  background: rgb(212, 228, 239);
  border-radius: 10px;
}
.step .vector {
  position: relative;
  margin-bottom: 140px;
}

@media (max-width: 480px) {
  .card__container .card__holder {
    display: block;
  }
  .card__container .card__holder .each__card {
    display: flex;
    margin: 0 auto;
  }
  .card__container .card__holder .each__card .card__text {
    margin-bottom: 13px;
  }
  .card__container .buttons {
    display: block;
  }
  .card__container .buttons .btn1,
  .card__container .buttons .btn2 {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  .stock__holder .stock__link {
    gap: 27px;
  }
  .stock__holder .stock__link .border {
    width: 101px;
  }
  .stock__holder .stock__wrapper {
    display: block;
    margin-bottom: 17px;
  }
  .stock__holder .stock__wrapper .dNone {
    display: none;
  }
}
@media (max-width: 480px) {
  .step .step__container {
    display: block;
  }
  .step .step__card1 {
    align-items: center;
    padding: 0 90px;
  }
  .step .step__card2 {
    align-items: center;
    padding: 0 90px;
  }
  .step .step__card3 {
    align-items: center;
    padding: 0 90px;
  }
  .step ul {
    display: block;
  }
  .step ul li {
    background: none;
  }
  .step ul .vector {
    position: absolute;
    transform: rotate(90deg);
    padding: 0 160px;
  }
}/*# sourceMappingURL=style.css.map */