@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Black.woff2") format("woff2"), url("../font/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.woff2") format("woff2"), url("../font/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Light.woff2") format("woff2"), url("../font/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.woff2") format("woff2"), url("../font/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Thin.woff2") format("woff2"), url("../font/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  list-style: none;
}

a {
  text-decoration: none;
}

header .head__top {
  padding: 10px 0;
  border-bottom: 1px solid rgba(212, 228, 239, 0.603);
}
header .head__top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
header .head__top_left {
  opacity: 1;
}
header .head__top_left .nav__links {
  display: flex;
  gap: 45px;
}
header .head__top_left .nav__links li {
  list-style: none;
}
header .head__top_left .nav__links a {
  color: rgb(0, 37, 74);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
header .head__top_left .nav__links a:hover {
  color: rgb(39, 172, 226);
}
header .head__top_right {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  color: rgb(0, 37, 74);
}
header .head__bottom {
  position: relative;
  padding: 17px 0;
  z-index: 999;
}
header .head__bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
}
header .head__bottom .container .menu {
  display: none;
  padding: 5px;
  border: 0;
  background-color: transparent;
}
header .head__bottom .container.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
header .head__bottom .container.phone .phone__numbers {
  position: absolute;
  display: flex;
  top: 50px;
  right: 20px;
  background: #fff;
  padding: 30px 60px;
}
header .head__bottom .dropdowns .close__menu {
  display: none;
}
header .head__bottom .dropdowns .btns {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .head__bottom .dropdowns .btns button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 10px 12px;
  border-bottom: 4px solid rgba(39, 173, 226, 0.041); /* Button */
}
header .head__bottom .dropdowns .btns button h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: rgb(51, 51, 51);
}
header .head__bottom .dropdowns .btns button img {
  width: 19px;
  height: 13px;
}
header .head__bottom .phone__numbers {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
header .head__bottom .phone__numbers img {
  margin-top: 5px;
}
header .head__bottom .phone__numbers h3 {
  color: rgb(0, 37, 74);
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}
header .head__bottom .phone__numbers a {
  color: rgb(57, 153, 229);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
header .head__bottom .phone__numbers .local {
  position: relative;
}
header .head__bottom .phone__numbers .local img {
  position: absolute;
  width: 18px;
  height: 18px;
}
header .head__bottom .phone__numbers .local img:nth-child(1) {
  left: -10px;
  z-index: 9;
}
header .head__bottom .phone__numbers .local img:nth-child(2) {
  left: 5px;
  z-index: 1;
}
header .head__bottom .phonebtn {
  display: none;
  width: 42px;
  height: 42px;
  border: 0;
  border-radius: 50%;
  background-color: rgb(39, 172, 226);
}
header .head__bottom .dropdowns.active1 .tables1 {
  display: block;
}
header .head__bottom .dropdowns.active1 #mobile {
  border-bottom: 4px solid rgb(39, 172, 226); /* Button */
}
header .head__bottom .dropdowns.active2 .tables2 {
  display: block;
}
header .head__bottom .dropdowns.active2 #tablet {
  border-bottom: 4px solid rgb(39, 172, 226); /* Button */
}
header .head__bottom .tables1,
header .head__bottom .tables2 {
  position: absolute;
  left: 0;
  top: 70px;
  display: none;
  width: 100%;
  padding: 30px 0;
  background-color: #fff;
}
header .head__bottom .tables1 .container,
header .head__bottom .tables2 .container {
  position: relative;
}
header .head__bottom .tables1 .container button,
header .head__bottom .tables2 .container button {
  position: absolute;
  top: -30px;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 30px;
}
header .head__bottom .tables1 .row,
header .head__bottom .tables2 .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}
header .head__bottom .tables1 .row .mobile__content,
header .head__bottom .tables2 .row .mobile__content {
  width: 240px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
header .head__bottom .tables1 .row .mobile__content img,
header .head__bottom .tables2 .row .mobile__content img {
  max-width: 40px;
  width: 100%;
  height: 30px;
}
header .head.menu .head__top {
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 170px;
  display: flex;
  background-color: #fff;
  align-items: center;
}
header .head.menu .head__top .nav__links {
  flex-direction: column;
  gap: 23px;
}
header .head.menu .head__bottom .dropdowns {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  left: 0%;
  position: absolute;
  padding-top: 130px;
}
header .head.menu .head__bottom .dropdowns .btns {
  align-items: flex-start;
  padding: 10px;
  padding-left: 5px;
}
header .head.menu .head__bottom .dropdowns .tables1,
header .head.menu .head__bottom .dropdowns .tables2 {
  top: 100px;
}
header .head.menu .head__bottom .dropdowns .close__menu {
  display: flex;
  position: absolute;
  gap: 1rem;
  cursor: pointer;
  text-align: left;
  z-index: 999;
  color: #fff;
  padding: 18px;
  padding-left: 50px;
  top: 75px;
  font-size: 20px;
  background-color: rgb(39, 172, 226);
  border: 0;
  width: 100%;
}
header .head.menu .head__bottom .dropdowns .btns {
  flex-direction: column;
  gap: 1rem;
}
header .hero {
  background-image: url("../img/header/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  position: relative;
}
header .hero::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 150px;
  background-color: rgb(39, 172, 226);
  left: 0;
  top: 20%;
}
header .hero__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 60px 0;
  padding-left: 37px;
}
header .hero__content h2 {
  color: rgb(61, 61, 61);
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
}
header .hero__content p {
  color: rgb(61, 61, 61);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
header .hero__content a {
  padding: 12px 32px;
  padding-left: 38px;
  width: 226px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 4px;
  background: rgb(39, 172, 226);
}

@media (max-width: 1000px) {
  header .head__top .head__top_right {
    display: none;
  }
  header .head__bottom .phone__numbers {
    display: none;
  }
  header .head__bottom .phonebtn {
    display: block;
  }
}
@media (max-width: 750px) {
  header .head__top {
    display: none;
  }
  header .head__bottom .container .menu {
    display: block;
  }
  header .head__bottom .dropdowns {
    display: none;
  }
  header .head.menu .head__bottom .dropdowns .tables1,
  header .head.menu .head__bottom .dropdowns .tables2 {
    top: 250px;
  }
  header .hero {
    background-size: 100% 200px;
    background-position: center;
  }
  header .hero::after {
    height: 100px;
  }
  header .hero .hero__content {
    padding: 30px 10px;
  }
  header .hero .hero__content h2 {
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
  }
  header .hero .hero__content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
}
@media (max-width: 500px) {
  .hero {
    position: relative;
  }
  .hero .hero__content a {
    position: absolute;
    bottom: -50px;
    left: 25%;
  }
}
.step {
  background-color: rgb(245, 245, 245);
  margin-top: 40px;
}
.step__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.step__title {
  color: rgb(61, 61, 61);
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  padding: 50px 0;
}
.step__arrow {
  width: 148px;
  height: 143px;
  border-radius: 100px;
  margin-left: 55px;
  background-color: rgb(255, 255, 255);
}
.step__num {
  position: absolute;
  color: rgb(212, 228, 239);
  font-size: 160px;
  font-weight: 700;
  margin-top: -20px;
}
.step__text {
  color: rgb(61, 61, 61);
  font-size: 16px;
  font-weight: 400;
  padding: 35px 0;
  text-align: center;
}
.step ul {
  display: flex;
  gap: 12px;
  list-style: none;
}
.step ul li {
  width: 6px;
  height: 7px;
  margin-top: 20px;
  background: rgb(212, 228, 239);
  border-radius: 10px;
}
.step .vector {
  position: relative;
  margin-bottom: 140px;
}

.repair .card__container {
  padding-top: 49px;
}
.repair .card__container .card__title {
  color: var(--Text, #3d3d3d);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7px;
}
.repair .card__container .card__subtitle {
  color: var(--Text, #3d3d3d);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}
.repair .card__container .card__holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 39px;
}
.repair .card__container .card__holder .each__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 190px;
}
.repair .card__container .card__holder .each__card .img__bg {
  width: 148px;
  height: 148px;
  background: #f3f8fb;
  border-radius: 50%;
  padding: 33px 31px 31px 32px;
  margin-bottom: 11px;
}
.repair .card__container .card__holder .each__card .card__text {
  color: #3d3d3d;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.repair .card__container .buttons {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 56px;
}
.repair .card__container .buttons .btn1,
.repair .card__container .buttons .btn2 {
  width: 214px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid #27ace2;
}
.repair .card__container .buttons .btn1 {
  border-radius: 4px;
  background: var(--Button, #27ace2);
  cursor: pointer;
}
.repair .card__container .buttons .btn2 {
  background: transparent;
  cursor: pointer;
}
.repair .card__container .buttons .left__btn {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.repair .card__container .buttons .right__btn {
  color: var(--Button, #27ace2);
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.sale {
  background: #f5f5f5;
}

.stock__holder {
  padding-top: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stock__holder .stock__link {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d4e4ef;
}
.stock__holder .stock__link .border {
  color: var(--Text, #3d3d3d);
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 15px;
  border-bottom: 5px solid #27ace2;
  text-align: center;
  width: 141px;
}
.stock__holder .stock__link .blur__text {
  color: var(--Text, #3d3d3d);
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.8;
}
.stock__holder .stock__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 40px;
}
.stock__holder .stock__wrapper div {
  width: 350px;
}
.stock__holder .stock__wrapper img {
  border-radius: 5px;
  margin-bottom: 10px;
}
.stock__holder .stock__wrapper p {
  color: #3d3d3d;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.stock__holder .last__btn {
  width: 177px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Button, #27ace2);
  border: none;
  margin-bottom: 54px;
  cursor: pointer;
}
.stock__holder .last__btn a {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.hidden__menu {
  border: 1px solid black;
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 472px;
  height: 311px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
}
.hidden__menu .top__menu {
  /* BG_Search */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
  margin-bottom: 24px;
  background: rgb(243, 248, 251);
}
.hidden__menu .top__menu h1 {
  /* Text H3 */
  color: rgb(0, 37, 74);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.hidden__menu .hero {
  padding: 0px 36px 35px 36px;
}
.hidden__menu p {
  /* Text */
  color: rgb(0, 37, 74);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0 10px;
}
.hidden__menu form {
  width: 390px;
  height: 38px;
  box-sizing: border-box;
  border: 1px solid rgba(23, 113, 185, 0.2);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 9px;
  margin-bottom: 13px;
}
.hidden__menu form #name {
  width: 300px;
  border: none;
  outline: none;
}
.hidden__menu form #name::-moz-placeholder {
  color: rgb(55, 69, 97);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  /* Черный / Основной */
  opacity: 0.4;
}
.hidden__menu form #name::placeholder {
  color: rgb(55, 69, 97);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  /* Черный / Основной */
  opacity: 0.4;
}
.hidden__menu .hidden__btn {
  width: 214px;
  height: 40px;
  border-radius: 4px;
  background: rgb(39, 172, 226);
  border: none;
  cursor: pointer;
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.hidden__menu .hidden__btn a {
  /* Button */
  color: rgb(255, 255, 255);
  font-family: Roboto Condensed;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.map__section {
  margin: 20px 0;
  width: 100%;
}
.map__section .map__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.map__section .map__title h2 {
  text-align: center;
  padding: 36px 0;
}
.map__section .map {
  width: 100%;
  border-bottom: 5px solid rgb(39, 172, 226);
}

@media (max-width: 750px) {
  .stock__holder .stock__wrapper {
    align-items: center;
  }
}
@media (max-width: 500px) {
  .repair {
    margin-top: 40px;
  }
  .repair .card__container .buttons {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1100px) {
  .step .step__container {
    display: block;
  }
  .step .step__card1,
  .step .step__card2,
  .step .step__card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 90px;
  }
  .step ul {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    margin-left: 50px;
  }
  .step ul li {
    background: none;
  }
  .step ul .vector {
    position: absolute;
    transform: rotate(90deg);
    padding: 0 160px;
  }
}
footer {
  padding-top: 2rem;
  margin: 30px 0;
}
footer .footer__head {
  margin: 2rem 0;
}
footer .footer__head .container h3 {
  color: rgb(61, 61, 61);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 5px;
}
footer .footer__head .container h3 span {
  opacity: 0.5;
}
footer .footer__head .container a {
  color: rgb(57, 153, 229);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}
footer .footer__center {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid rgb(212, 228, 239);
  border-bottom: 1px solid rgb(212, 228, 239);
}
footer .footer__center .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  align-items: flex-start;
}
footer .footer__center_contacts {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
footer .footer__center_contacts a {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .footer__center_contacts a .logo {
  margin-bottom: 20px;
}
footer .footer__center_contacts a .email {
  text-decoration-line: underline;
}
footer .footer__center_contacts a p {
  color: rgb(0, 37, 74);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
footer .footer__center_contacts .phone__numbers {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
footer .footer__center_contacts .phone__numbers img {
  margin-top: 5px;
}
footer .footer__center_contacts .phone__numbers h3 {
  color: rgb(0, 37, 74);
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}
footer .footer__center_contacts .phone__numbers a {
  color: rgb(57, 153, 229);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
footer .footer__center_contacts .phone__numbers .local {
  position: relative;
}
footer .footer__center_contacts .phone__numbers .local img {
  position: absolute;
  width: 18px;
  height: 18px;
}
footer .footer__center_contacts .phone__numbers .local img:nth-child(1) {
  left: -10px;
  z-index: 9;
}
footer .footer__center_contacts .phone__numbers .local img:nth-child(2) {
  left: 5px;
  z-index: 1;
}
footer .footer__center_links {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
footer .footer__center_links h4 {
  margin: 16px 0;
  color: rgb(55, 69, 97);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  opacity: 0.4;
}
footer .footer__center_links a {
  color: rgb(0, 37, 74);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
footer .footer__center_links a:hover {
  color: rgb(57, 153, 229);
}
footer .footer__center_info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
footer .footer__center_info h4 {
  margin: 16px 0;
  color: rgb(55, 69, 97);
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  opacity: 0.4;
}
footer .footer__center_info a {
  color: rgb(0, 37, 74);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
footer .footer__center_info a:hover {
  color: rgb(57, 153, 229);
}
footer .footer__center_info .local {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
}
footer .footer__center_info .local a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 1px solid rgba(57, 152, 229, 0);
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
}
footer .footer__center_info .local a:hover {
  border: 1px solid rgb(57, 153, 229);
}
footer .footer__bottom {
  padding: 18px 0;
}
footer .footer__bottom p {
  color: rgb(0, 37, 74);
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  line-height: 14px;
}

@media (max-width: 750px) {
  footer .footer__center .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer__center_links {
    margin-left: -80px;
  }
}
@media (max-width: 480px) {
  .card__container .card__holder {
    display: block;
  }
  .card__container .card__holder .each__card {
    display: flex;
    margin: 0 auto;
  }
  .card__container .card__holder .each__card .card__text {
    margin-bottom: 13px;
  }
  .card__container .buttons {
    display: block;
  }
  .card__container .buttons .btn1,
  .card__container .buttons .btn2 {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  .stock__holder .stock__link {
    gap: 27px;
  }
  .stock__holder .stock__link .border {
    width: 101px;
  }
  .stock__holder .stock__wrapper {
    display: block;
    margin-bottom: 17px;
  }
  .stock__holder .stock__wrapper .dNone {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */